# allow replay from all rfc1918 ipv4 addresses
10.0.0.0/8
172.16.0.0/12
192.168.0.0/16
# allow replay from all link local and site local ipv6 adresses
fe80::/64
fc00::/7
# allow replay from internal domains
.intranet.example.com
.admin.example.com
